<footer class="footer">
    <div class="footer-container">
        <div class="footer__block">
            <h5 class="footer__title">Emine Hakan</h5>
            <p class="footer__text">Ostéopathe D.O.</p>
        </div>
        <div class="footer__block">
            <h5 class="footer__title">Adresse du cabinet</h5>
            <p class="footer__text">
                15 rue du Chalet<br>
                93370 MONTFERMEIL
            </p>
        </div>
        <div class="footer__block">
            <h5 class="footer__title">Téléphone</h5>
            <a class="footer__link footer__link--phone l-phone-link" href="tel:0172518353">01. 72. 51. 83. 53</a>
        </div>
        <div class="footer__block">
            <h5 class="footer__title">E-mail</h5>
            <a class="footer__link footer__link--mail" href="mailto:eminehkn.osteo@gmail.com">eminehkn.osteo@gmail.com</a><br>
            <a class="footer__link footer__link--linkedin" href="https://fr.linkedin.com/in/emine-hakan-061632116" target="_blank">Linkedin</a>
        </div>
    </div>
</footer>
