<header class="header">
    <div class="header-container">
        <h1 class="header__title header__content">Emine Hakan</h1>

        <div class="header__content header__content--right">
            <h2 class="header__subtitle">Ostéopathe D. O.</h2>
            <p class="header__contact-information">
                15 rue du Chalet, 93370 Montfermeil<br>
                {% if locale is not defined or locale != 'tr-TR' %}
                Consultation sur rendez-vous<br>
                {% endif %}
                01. 72. 51. 83. 53
            </p>
        </div>
    </div>
</header>
