{% extends 'layout.html.twig' %}

{% set navItem = 'consultation' %}
{% set title = 'La consultation - ' %}
{% set metaDescription = 'La consultation dure en moyenne 45 minutes. Celle-ci commence par un interrogatoire détaillé, qui est une étape pendant laquelle votre praticienne récolte des informations afin de comprendre précisément le motif de consultation mais aussi établir un diagnostic d’exclusion.' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="stylesheets/consultation.css">
{% endblock %}

{% block content %}
    <section class="consultation__main">
        <h3 class="l-section-title">La consultation</h3>
        <p class="l-text-default">
            <strong>La consultation dure en moyenne 45 minutes</strong>
            <br><br>
            Celle-ci commence par un interrogatoire détaillé, qui est une étape pendant laquelle votre praticienne récolte des informations afin de comprendre précisément le motif de consultation mais aussi établir un diagnostic d’exclusion.
            <br><br>
            Vient ensuite l’examen clinique, où votre praticienne effectuera une série de tests pour chercher les dysfonctions somatiques à l’origine des douleurs présentées par le patient et posera un diagnostic ostéopathique.
            <br><br>
            À l’issue du diagnostic ostéopathique, un plan de traitement sera élaboré. Ce traitement peut nécessiter 1 à 3 consultations. En général, le patient est revu lors d’une deuxième consultation une dizaine de jours après pour voir la réaction du corps au traitement et l’optimiser.

            <img src="images/cabinet.jpg" alt="" class="consultation-main__img">
        </p>
    </section>
    <section class="consultation__flow">
        <h3 class="l-section-title">Le déroulement d'une consultation</h3>
        <div class="consultation-flow__blocks">
            <div class="consultation-flow__block">
                <h4 class="consultation-flow-block__title">Anamnèse</h4>
                <p class="l-text-default">Des questions sur votre motif de consultation, mais également sur votre vie quotidienne, vos pratiques sportives, l’impact de votre travail sur votre corps, vos antécédents médicaux, chirurgicaux, traumatiques, etc. Ainsi, tout ce qui peut être en rapport avec votre motif, sera étudié.</p>
            </div>
            <div class="consultation-flow__block">
                <h4 class="consultation-flow-block__title">Examen clinique</h4>
                <p class="l-text-default">Votre praticienne procèdera à une observation générale, effectuera des tests et évaluera votre corps dans sa globalité afin de chercher des dysfonctionnements à l’origine des douleurs présentées et de faire des liens entre votre motif de consultation et les différents éléments retrouvés et poser un diagnostic ostéopathique.</p>
            </div>
            <div class="consultation-flow__block">
                <h4 class="consultation-flow-block__title">Traitement</h4>
                <p class="l-text-default">En fonction du diagnostic ostéopathique, un plan de traitement sera élaboré, composé de techniques adaptées afin d’apporter les modifications nécessaires au bon fonctionnement de votre organisme en levant tensions et blocage pour ré harmoniser l’ensemble du corps.</p>
            </div>
        </div>
    </section>
    <hr class="l-section-separator"></hr>
    <section class="consultation__prices">
        <h3 class="l-section-title">Tarifs</h3>
        <p class="l-text-default consultation-prices__text">
            <strong>La consultation au cabinet est de 50€ <sup class="consultation-prices__text-sup">*</sup>.</strong>
            <br><br>
            <strong>Lors d’une prise en charge à domicile l’honoraire sera de 75€ <sup class="consultation-prices__text-sup">*</sup>.</strong>
            <br><br>
            Les actes ostéopathiques ne sont pas remboursés par la sécurité sociale, cependant de nombreuses mutuelles remboursent les consultations. Il est recommandé de prendre contact directement avec sa mutuelle afin de connaitre le remboursement proposé.
        </p>
        <p class="consultation-prices__precision">* paiement par chèque ou espèces</p>
    </section>
{% endblock %}
