{% extends 'layout.html.twig' %}

{% set navItem = 'home' %}
{% set title = 'Emine Hakan - Ostéopathe D.O.' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
{% endblock %}

{% block content %}
    <section class="home__definition">
        <h3 class="l-section-title">Définition de l'ostéopathie</h3>
        <p class="home-definition__text l-text-default">
            L’ostéopathie est une médecine manuelle, s’intéressant aux troubles fonctionnels du corps humain susceptibles d’en altérer l’état de santé.
            <br><br>
            L’ostéopathe est un spécialiste de la mobilité des tissus du corps ainsi, il évalue l’état des différentes structures du corps humain par différents tests de mobilité tant au niveau articulaire qu’au niveau viscéral ou crânien afin d’avoir une compréhension globale du patient pour prévenir, diagnostiquer et traiter manuellement les dysfonctions de la mobilité des tissus du corps humain.
            <br><br>
            Le plan de traitement ostéopathique, nécessite un raisonnement basé sur des connaissances approfondies en anatomie, physiologie et sémiologie médicale afin d’adapter les techniques manuelles.
            <br><br>
            L’ostéopathie ne s’intéresse pas seulement aux symptômes, mais considère le patient dans sa globalité, c’est une approche holistique qui vise à restaurer un équilibre.
        </p>
    </section>
    <hr class="l-section-separator">
    <section class="home__fields">
        <header class="home-fields__header l-image-title-text">
            <div class="l-image--left">
                <img src="images/fields.png" alt="">
            </div>
            <div class="l-title-text--right">
                <h3 class="l-section-title">Champs d'application :</h3>
                <p class="l-text-default">
                    L’ostéopathie s’adresse à tout le monde. Il prend en charge les nouveau-nés, les enfants, les adultes, les sportifs, les femmes enceintes et les personnes âgées.
                    <br><br>
                    Le champ d’application est vaste et a prouvé son efficacité dans de nombreuses manifestations liées aux troubles fonctionnels, tels que :
                </p>
            </div>
        </header>
        <ul class="home-fields__list home-fields__list--left l-text-default">
            <li class="home-fields__item">
                <span class="home-fields__item-title">Système musculo-squelettique :</span> Douleurs articulaires, torticolis, cervicalgies, dorsalgies, lombalgies, pubalgies, costalgies, douleurs coccygiennes, arthrose, tendinites, entorses, toute douleur à la suite d’un traumatisme important, certaines types de maux de tête d’origine mécanique, etc.
            </li>
            <li class="home-fields__item">
                <span class="home-fields__item-title">Système neurologique :</span> Sciatiques, cruralgies, névralgie cervico-brachiales, névralgie d’Arnold, névralgie faciale, névralgie intercostales, névralgie pudentales, syndromes canalaires, syndrome de maigne, etc.
            </li>
            <li class="home-fields__item">
                <span class="home-fields__item-title">Système neurovégétatif :</span> Stress, anxiété, angoisse, état dépressifs, irritabilité, difficulté de concentration, troubles du sommeil, prévention du burn-out, etc.
            </li>
            <li class="home-fields__item">
                <span class="home-fields__item-title">Système circulatoire :</span> Troubles circulatoire du retour veineux, sensation de jambes lourdes, œdème, etc.
            </li>
            <li class="home-fields__item">
                <span class="home-fields__item-title">Système ORL :</span> Troubles de la mastication, blocage de la mâchoire, bruxisme, avant un traitement orthodontique, vertiges fonctionnels, prévention des sinusites et otites répétitives, dysphonie fonctionnelles, etc.
            </li>
        </ul>
        <ul class="home-fields__list home-fields__list--right l-text-default">
            <li class="home-fields__item">
                <span class="home-fields__item-title">Système respiratoire :</span> Sensation d’oppression thoracique, prévention des bronchites répétitives, accompagnement de l’asthme et des toux chroniques, etc.
            </li>
            <li class="home-fields__item">
                <span class="home-fields__item-title">Système gynéco-urinaire :</span> Suivi de grossesse, syndrome post-partum, dysménorrhées fonctionnelles (douleurs menstruelles), dyspareunies fonctionnelles (douleurs lors des rapports), douleurs fonctionnelles du petit bassin, avant la rééducation périnéale, etc.
            </li>
            <li class="home-fields__item">
                <span class="home-fields__item-title">Système digestif :</span> Reflux gastro-œsophagien (RGO), troubles digestifs, troubles du transit intestinal, lourdeur, ballonnements, nausées, colopathies fonctionnelles, etc.
            </li>
            <li class="home-fields__item">
                <span class="home-fields__item-title">Chez la femme enceinte,</span> l’ostéopathie apportera un bénéfice lors de l’accompagnement de la grossesse ainsi qu’à la préparation de votre bassin pour l’accouchement.
            </li>
            <li class="home-fields__item">
                <span class="home-fields__item-title">Chez les nourissons,</span> il est recommandé de consulter le plus tôt possible pour des motifs comme les torticolis congénitaux, plagiocéphalie, coliques, etc.
            </li>
        </ul>
        <footer class="home-fields__footer">
            <p class="l-text-default">
                Il est possible de consulter <strong>à titre préventif</strong> pour faire un bilan et éviter que certaines dysfonctions ne deviennent symptomatiques, cela permet de repérer et de traiter les blocages avant que ceux-ci n’aboutissent à une douleur, Dans ce cas, une séance semestrielle est recommandée.
                <br><br>
                Un bilan ostéopathique sera également recommandé avant une rééducation périnéale, un traitement orthodontique, et même avant une consultation chez le podologue afin d'optimiser les résultats.
            </p>
        </footer>
    </section>
    <hr class="l-section-separator">
    <section class="home__limits">
        <div class="l-image-title-text">
            <div class="l-image--left">
                <img src="images/limits.png" alt="">
            </div>
            <div class="l-title-text--right">
                <h3 class="l-section-title">Les limites de l'ostéopathie</h3>
                <p class="l-text-default">
                    L’ostéopathie connaît ses limites et ne prétend pas tout soigner. La précision de l’anamnèse et des tests permettent à l’ostéopathe d’exclure certains motifs de consultation grâce à ses connaissances approfondies en anatomie, physiologie et sémiologie médicale et réorientera le patient vers son médecin généraliste.
                    <br><br>
                    Cependant, l’ostéopathe peut apporter un confort et une amélioration de la qualité de vie dans les pathologies infectieuses, dégénératives et génétiques en complémentarité de la médecine générale, notamment en agissant sur les compensations développées par le corps liées à ces maladies.
                </p>
            </div>
        </div>
    </section>
    {% if articles %}
    <hr class="l-section-separator"></hr>
    <section class="home__articles">
        <h3 class="l-section-title">Derniers articles</h3>
        {% for article in articles|slice(0, 9) %}
            <article class="home-articles__article{% if loop.index > 3 %} home-articles__article--hidden{% endif %}">
                <header>
                    <div class="home-article__img-box" style="background-image:url({{ article.imageUrl }})"></div>
                    <h4 class="home-article__title">{{ article.title }}</h4>
                </header>
                <p class="home-article__text">{{ article.description }}</p>
                <a href="{{ article.url }}" class="home-article__link" target="_blank">Lire l'article</a>
            </article>
        {% endfor %}
        {% if articles|length > 3 %}
            <div class="home-articles__see-all-container">
                <button class="home-articles__see-all">Voir tous les articles</button>
            </div>
        {% endif %}
    </section>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    var seeAllBtn = document.querySelector('.home-articles__see-all');
    var hiddenArticles = [...document.querySelectorAll('.home-articles__article--hidden')]

    seeAllBtn.addEventListener('click', function () {
        hiddenArticles.forEach(function (article) {
            article.style.display = 'inline-block';
            seeAllBtn.style.display = 'none';
        })
    })
    </script>
{% endblock %}
