<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% block stylesheets %}{% endblock %}
</head>
<body>

        {% include 'partials/_navigation.html.twig' %}
        {% include 'partials/_header.html.twig' %}

        <div id="container">
            {% block content %} {% endblock %}
        </div>

        {% include 'partials/_footer.html.twig' %}
    </div>

    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        if (window.navigator.userAgent.match(/Mobi/i)) {
            var links = document.querySelectorAll('.l-phone-link');
            for (i = 0; i < links.length; ++i) {
                links[i].classList.add('l-phone-link--mobile');
            }
        }
    </script>
</body>
</html>
