<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% block stylesheets %}{% endblock %}
</head>
<body>

        {% include 'partials/_navigation.html.twig' %}
        {% include 'partials/_header.html.twig' %}

        <div id="container">
            {% block content %} {% endblock %}
        </div>

        {% include 'partials/_footer.html.twig' %}
    </div>

    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        if(navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)){
            document.querySelector('.l-phone-link').classList.add('l-phone-link--mobile');
        }
    </script>
</body>
</html>
