@font-face {
    font-family: 'Edwardian';
    src: url('../fonts/edwardian-script/edwardian-script.eot');
    src: url('../fonts/edwardian-script/edwardian-script.eot?#iefix') format('embedded-opentype'),
        url('../fonts/edwardian-script/edwardian-script.woff') format('woff'),
        url('../fonts/edwardian-script/edwardian-script.ttf') format('truetype'),
        url('../fonts/edwardian-script/edwardian-script.svg#edwardian_script_itcregular') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular/roboto-regular.eot');
    src: url('../fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-regular/roboto-regular.woff') format('woff'),
        url('../fonts/roboto-regular/roboto-regular.ttf') format('truetype'),
        url('../fonts/roboto-regular/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium/roboto-medium.eot');
    src: url('../fonts/roboto-medium/roboto-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-medium/roboto-medium.woff') format('woff'),
        url('../fonts/roboto-medium/roboto-medium.ttf') format('truetype'),
        url('../fonts/roboto-medium/roboto-medium.svg#robotomedium') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold/roboto-bold.eot');
    src: url('../fonts/roboto-bold/roboto-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-bold/roboto-bold.woff') format('woff'),
        url('../fonts/roboto-bold/roboto-bold.ttf') format('truetype'),
        url('../fonts/roboto-bold/roboto-bold.svg#robotobold') format('svg');
    font-weight: 700;
}
