.navigation {
    padding: 23px 0;
    background-color: #FFF;
}

.navigation-container {
    width: $container-width;
    margin: 0 auto;
    position: relative;
}

.navigation__logo {
    font-family: 'Edwardian', serif;
    font-size: 3.6rem;
    color: $second-color;

    position: relative;
    top: -2px;

    .navigation-logo__letter--right {
        position: relative;
        top: 10px;
        left: -5px;
    }
}

.navigation__menu {
    margin-left: 79px;
    display: inline-block;

    .navigation-menu__item {
        padding-left: 60px;
        display: inline-block;

        &:first-child {
            padding: 0;
        }
    }

    .navigation-menu__link {
        font-size: 1.7rem;
        color: $text-color;

        &:hover, &.selected {
            color: $second-color;
            font-weight: 700;
        }

        &::after {
            display: block;
            content: attr(title);
            font-weight: 700;
            height: 1px;
            color: transparent;
            overflow: hidden;
            visibility: hidden;
            margin-bottom: -1px;
        }
    }
}

.navigation__flags {
    font-size: 0;
    position: absolute;
    top: 12px;
    right: 0;

    .navigation-flags__item {
        display: inline-block;

        padding-left: 13px;

        &:first-child {
            padding: 0;
        }
    }
}
