html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.6em;
    color: $text-color;
    background-color: $beige;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}
