@import 'main';

.about__whoiam {
    padding-bottom: 50px;
}

.about-whoiam__img {
    padding: 0 50px 40px 0;
    float: left;
}

.about-whoiam__content {
    padding-top: 20px;

    .about-whoiam__name {
        display: inline-block;
        padding-bottom: 30px;
    }
}


.about__accesibility {
    padding-top: 40px;
}

.about-accessibility__title {
    margin-bottom: 40px;
}

.about-accessibility__plaque {
    margin-right: 102px;
    float: right;
}

.about-accessibility__text {
    margin-left: 102px;
    padding-top: 11px;
}

.about-accessibility__map {
    width: 837px;
    height: 270px;
    margin-top: 40px;
}
