@import 'main';

.home__definition {
    padding-bottom: 70px;

    .home-definition__text {
        width: 740px;
        margin: 0 auto;
        text-align: center;
    }
}

.home__fields {
    padding: 90px 0 40px 0;

    .home-fields__header {
        margin-bottom: 50px;
    }

    .home-fields__list {
        display: inline-block;
        vertical-align: top;

        &.home-fields__list--left {
            width: 381px;
            padding-left: 21px;

            .home-fields__item {
                width: 364px;
            }
        }
        &.home-fields__list--right {
            width: 348px;
            padding-left: 82px;
        }

        .home-fields__item {
            margin-top: 22px;

            &:first-child {
                margin: 0;
            }
        }
    }

    .home-fields__item {
        position: relative;

        &::before {
            display: inline-block;
            content: '';
            width: 28px;
            height: 28px;
            background: url('../images/arrow.png');

            position: absolute;
            left: -35px;
        }
    }
    .home-fields__item-title {
        font-weight: 700;
        color: $second-color;
    }

    .home-fields__footer {
        margin-top: 55px;
    }
}

.home__limits {
    padding: 60px 0 60px 0;
}

.home__articles {
    padding: 50px 0 0 0;
    font-size: 0;

    .home-articles__article {
        display: inline-block;
        width: 266px;
        vertical-align: top;
        padding-bottom: 19px;

        &:nth-of-type(3n+2) {
            padding-left: 19px;
            padding-right: 19px;
        }

        &.home-articles__article--hidden {
            display: none;
        }
    }

    .home-article__img-box {
        width: 266px;
        height: 175px;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
    }

    .home-article__title {
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 1.7rem;
    }
    .home-article__text {
        padding-bottom: 25px;
        font-size: 1.4rem;
    }

    .home-article__link {
        font-size: 1.4rem;
        font-weight: 500;
        color: $second-color;
    }

    .home-articles__see-all-container {
        padding-top: 25px;
        text-align: center;

        .home-articles__see-all {
            width: 209px;
            height: 45px;
            border: none;
            border-radius: 20px;
            padding: 0;
            line-height: 45px;
            background-color: $beige;
            font-size: 1.6rem;
            font-family: 'Roboto', Arial, sans-serif;
            color: $text-color;
            cursor: pointer;

            &:hover {
                color: #FFF;
                background-color: $second-color;
            }
        }
    }
}
